.config/gh
.config/gtk-3.0
.config/gtk-4.0
.config/dconf
.config/pulse
.config/systemd
.config/nvim
.config/vim
.config/nautilus
.config/btop/btop.log
.config/geany
.config/obs-studio
.config/libreoffice
.config/obsidian
.config/mimeapps.list
.config/QtProject.conf
.config/user-dirs.dirs
.config/user-dirs.locale
.config/GIMP
.config/pavucontrol.ini
.config/viewnior
.config/qBittorrent
